html {
	background-color: whiteSmoke;
}

body {
	background-color: whiteSmoke;
	padding-top: 40px;
	font-size: 15px;
}

body.login {
    padding-top: 4px;
}

.login h1 {
    text-align: center;
    margin-right: 6px;
}

.login #info-msg {
    display: none;
    margin: 0 0 10px 42.3%;
    width: 162px;
}

.login-form {
    margin: 0 auto;
    width: 160px;
    border: 3px solid #000;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

.login-form fieldset{
    margin-bottom: 0px;
}

.login .spinner {
    position: absolute;
    left: 135px;
    top: 14px;
}

#info-msg {
    text-align: center;
    display: none;
    margin: 5px auto;
    width: 250px;
}

.main-form {
	margin-top: 10px;
}

hr {
	border: 1px solid #919191;
}

.search {
    margin: 10px auto;
    width: 555px;
}

.form-row .form-cell {
	display: inline-block;
	margin-right: 5px;
}

.input {
    position: relative;
}

.input .spinner { 
    position: absolute;
    left: -15px;
    top: 13px;
}

.submit-btns .spinner {
    position: absolute;
    left: 515px;
    top: 14px;
}

.check {
    margin-top: 3px;
}

.check label {
    text-align: center;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.submit-btns {
    position: relative;
    text-align: center;
    margin-bottom: 2px;
}

.dataTables_filter {
    width: 55%;
}

.dataTables_wrapper {
    display:none;
}

.dataTables_wrapper td.hidden,
.dataTables_wrapper th.hidden{
    display:none;
}

.dataTables_wrapper.active {
    display:block;
}

.modal-body .dataTables_wrapper {
    display:block;
}

.dataTables_wrapper .print ,
.dataTables_wrapper .edit {
    position: absolute;
    top: 23px;
    left: 865px;
}

#results-modal {
    width: 700px;
    left: 43%;
}

.informes.row {
    
}

form.list {
    margin: 10px auto;
    border: 3px solid #919191;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

.demandas-list {
    width: 430px;
}

.modal{
    display: none;
}

.actualizar-list {
    width: 355px;
}

.resolucion-list {
    width: 442px;
}

form.list ul {
    margin: 0;
}

form.list li {
    margin: 10px 0;
}

form.list li label {
    float: none;
}

textarea.xxlarge {
    width:900px;
    height: 200px;
    resize:none;
}

tr.even.row_selected td {
    background-color: #B0BED9;
}

tr.odd.row_selected td {
    background-color: #9FAFD1;
}