html {
	background-color: whiteSmoke;
}

body {
	background-color: whiteSmoke;
	padding-top: 40px;
	font-size: 15px;
}

.container {
	width: 540px;
}

.pills {
	margin-left: 140px;
}

.submit-btns {
    margin-left: 115px;
}