html {
	background-color: whiteSmoke;
}

body {
	background-color: whiteSmoke;
	padding-top: 40px;
	font-size: 15px;
}

.container {
	width: 900px;
}

form.entrar {
	margin-top: 10px;
}

hr {
	border: 1px solid #919191;
}

.form-row .form-cell {
	display: inline-block;
	margin-right: 5px;
}

.input.check {
    margin-top: 3px;
}

.input.check label {
    text-align: center;
}

.input-prepend {
    margin-bottom: -9px;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.submit-btns {
    text-align: center;
}

form.list li {
    margin: 10px 0;
}

form.list li label {
    float: none;
}

textarea.xxlarge {
    width:900px;
    resize:none;
}